@font-face {
  font-family: Catamaran;
  src: url(../font/Catamaran-Regular.ttf);
}
@font-face {
  font-family: Vidaloka;
  src: url(../font/Vidaloka-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 246, 240);
  font-family: Catamaran;
  margin-bottom: 1000px;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(97, 93, 93);
}

/* variables */
:root {
  --main-color: rgb(248, 121, 93);
}

/* HEADER */
.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}
/* header-top-section */
.header-top {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* header-left */
.header-left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;
}
.header-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 1s;
}

.header-left a:hover {
  color: var(--main-color);
}
.header-left a span {
  background-color: var(--main-color);
  color: white;
  padding: 1px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

/* header-right */
.header-right {
  width: 290px;
  display: flex;
  justify-content: right;

  gap: 15px;
}
.header-right li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 1s;
}
.header-right li:hover {
  background-color: white;
}

/* header-nav-section */
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 35px;
}
.header-nav li {
  padding: 0 10px 10px 10px;
  position: relative;
}
.header-nav a {
  color: rgb(73, 69, 72);
  font-weight: 600;
}
.header-nav li:hover a {
  transition: all 1s;
}
.header-nav li.home-page a {
  color: var(--main-color);
}
.header-nav li.home-page::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
}
.header-nav li:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  left: 0;
  top: 100%;
  animation-name: border;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-nav li:hover a {
  color: var(--main-color);
}

/* MAIN */
/* HERO section */
.container-fluid {
  width: 100%;
}
.hero-section {
  width: 100%;
  height: 600px;
  background-color: rgb(152, 168, 163);
  background: url(../images/slide1-bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 450px;
}
/* title */
.hero-section .hero-section-title {
  width: 70%;
  max-width: 650px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero-section .hero-section-title::before {
  content: "TODAY'S PICKS";
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 29%;
  transform: translate(-50%, 0);
}
.hero-section .hero-section-title h1 {
  text-align: center;
  font-family: Vidaloka;
  font-size: 40px;
  font-weight: 500;
  transition: all 1s;
  cursor: pointer;
}
.hero-section .hero-section-title h1:hover {
  color: var(--main-color);
}
.hero-section .hero-section-title h1::selection {
  background-color: var(--main-color);
}

/* foodie-section */
.hero-section .foodie-section {
  width: 95%;
  max-width: 1300px;
  background-color: white;
  /* transform: translate(-50% , 130%); */
  transform: translate(-50%, 0);

  position: absolute;
  left: 50%;
  top: 550px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 35px 40px 35px 40px;
}

.hero-section .foodie-section h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.hero-section .foodie-section .foodie-items {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .foodie-section .foodie-items .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .foodie-section .foodie-items .item img {
  width: 100%;
  display: block;
}
.hero-section .foodie-section .foodie-items .item figcaption {
  text-align: center;
  font-family: Vidaloka;
  font-size: 22px;
  margin: 15px 0;
}
.hero-section .foodie-section .foodie-items .item p {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

/* POPULAR section */
/* title */
.title-of-section {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-of-section h4 {
  letter-spacing: 4px;
  font-weight: 600;
}
.title-of-section p {
  text-align: center;
  padding: 20px 70px;
  line-height: 27px;
}
/* items */
.popular-items {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 40px;
}
/* left section */
.popular-items .left-section {
  width: 45%;
  background-color: white;
  box-shadow: 0 0 5px rgb(215, 212, 212);
  transition: all 2s;
}
.popular-items .left-section:hover {
  transform: scale(1.05);
}
.popular-items .left-section img {
  width: 100%;
  display: block;
}
.popular-items .left-section figcaption {
  font-family: Vidaloka;
  font-size: 24px;
  font-weight: 100;
  margin: 30px 0 18px 25px;
}
.popular-items .left-section figcaption:hover {
  color: var(--main-color);
  transition: all 1s;
  cursor: pointer;
}
.popular-items .left-section p {
  text-align: left;
  padding: 0;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(77, 83, 87);
}
.popular-items .left-section p span:hover {
  color: var(--main-color);
  transition: all 1s;
  cursor: pointer;
}
.popular-items .left-section > span {
  margin: 25px;
  height: 1px;
  background-color: rgb(236, 237, 237);
  display: block;
}

.popular-items .left-section .btn {
  background-color: var(--main-color);
  color: white;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 8px 24px;
  font-size: 15px;
  font-weight: 400;
  margin: 25px;
}
.popular-items .left-section .btn:hover {
  cursor: pointer;
  background-color: rgb(235, 91, 59);
  transition: all 1s;
}

/* right section */
.popular-items .right-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.popular-items .right-section .item {
  width: 48%;
  height: 240px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

}
.popular-items .right-section .item::after {
  content:attr(data_name);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(transparent, var(--main-color));
  position: absolute;
  transform: rotate(15deg);
transition: all 1s;
opacity: 0;
color: white;
text-align: center;
}
.popular-items .right-section .item:hover::after {
  transform: rotate(0deg);
  opacity: 1;

}
.popular-items .right-section .item1 {
  background: url("../images/Mixed-fruits.jpg") no-repeat center center;
  background-size: cover;
}
.popular-items .right-section .item2 {
  background: url("../images/r-rachel-park-366508-unsplash-min.jpg") no-repeat center center;
  background-size: cover;
}
.popular-items .right-section .item3 {
  background: url("../images/r-michelle-tsang-500721-unsplash-min.jpg") no-repeat center center;
  background-size: cover;
}
.popular-items .right-section .item4 {
  background: url("../images/quick-summer-drink.jpg") no-repeat center center;
  background-size: cover;
}
.popular-items .right-section .item5 {
  background: url("../images/r-maarten-van-den-heuvel-400626-unsplash-min.jpg") no-repeat center center;
  background-size: cover;
}
.popular-items .right-section .item6 {
  background: url("../images/perfect-cosmopolitan.jpg") no-repeat center center;
  background-size: cover;
}

/* FOOTER */
