@font-face {
  font-family: Catamaran;
  src: url(../font/Catamaran-Regular.ttf);
}
@font-face {
  font-family: Vidaloka;
  src: url(../font/Vidaloka-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 246, 240);
  font-family: Catamaran;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(97, 93, 93);
}

/* variables */
:root {
  --main-color: rgb(248, 121, 93);
}

/* HEADER */
.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}
/* header-top-section */
.header-top {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* header-left */
.header-left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;
}
.header-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 1s;
}

.header-left a:hover {
  color: var(--main-color);
}
.header-left a span {
  background-color: var(--main-color);
  color: white;
  padding: 1px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

/* header-right */
.header-right {
  width: 290px;
  display: flex;
  justify-content: right;

  gap: 15px;
}
.header-right li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 1s;
}
.header-right li:hover {
  background-color: white;
}

/* header-nav-section */
.header-nav {
  background-: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 35px;
}
.header-nav li {
  padding: 0 10px 10px 10px;
  position: relative;
}
.header-nav a {
  color: rgb(73, 69, 72);
  font-weight: 600;
}
.header-nav li:hover a {
  transition: all 1s;
}
/* .header-nav li:hover {
  border-bottom: 1px solid var(--main-color);
  animation-name: border;
  animation-duration: 2s;
} */
.header-nav li:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  left: 0;
  top: 100%;
  animation-name: border;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-nav li:hover a {
  color: var(--main-color);
}

/* MAIN */

/* FOOTER */
